<!DOCTYPE html>
<html>
<head>
    <title>Calculator APP</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1 style="color:blue;font-size:60px;">
🔥 DEVOPS PIPELINE SUCCESSFUL 🔥
</h1>

<h2 style="color:red;">
Calculator App - Version 4
</h2>

<p style="color:green;font-size:24px;font-weight:bold;">
✅ Deployed Automatically using:
</p>

<ul style="font-size:22px; text-align:left; display:inline-block;">
    <li>🐳 Docker</li>
    <li>⚙ GitHub Actions</li>
    <li>📦 Amazon ECR</li>
    <li>🚀 Amazon ECS (Fargate)</li>
    <li>🏗 Terraform</li>
</ul>

<hr>

<form method="POST">

<input type="number" step="any" name="num1" required>

<select name="operation">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
</select>

<input type="number" step="any" name="num2" required>

<br><br>

<button type="submit">Calculate</button>

</form>

{% if result != "" %}

<h2>Result : {{ result }}</h2>

{% endif %}

</div>

</body>
</html>